.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
}

.sidebar-header {
    padding: 20px;
    background: #212529;
}

.sidebar ul.components {
    padding: 20px 0;
}

.sidebar ul li a {
    padding: 15px 25px;
    font-size: 1.1em;
    display: block;
    color: #cbd5e0;
    text-decoration: none;
    border-bottom: 1px solid #4b545c;
}

.sidebar ul li a:hover {
    color: #fff;
    background: #495057;
}

.sidebar ul li.active>a {
    color: #fff;
    background: #007bff;
}